<%- include layout/head -%>

<%- include layout/global_navigation -%>

<div class="about gobo page">

    <div class="about-header">
        <h1 class="about-title">
            <span class="about-title-inner">
                食と農林漁業界に新しい風を吹き込む<br>OB/OGのネットワーク
            </span>
        </h1>
        <nav class="about-navigation">
            <ul class="about-menu">
                <li class="about-menu-item"><a href="#">創設の想い</a></li>
                <li class="about-menu-item"><a href="#">GOBOビジョン</a></li>
                <li class="about-menu-item"><a href="#">メンバー紹介</a></li>
            </ul>
        </nav>
    </div>

    <section class="section concept">
        <div class="about-concept-box">
            <div class="image content-inner-half">
                画像
            </div>
            <div class="description content-inner-half">
                <h1 class="about-concept-title">
                    食と農の未来を、自分たちの手でよくしたい
                </h1>
                <h2 class="about-concept-subtitle">
                    志でつながった全国の仲間たち
                </h2>
                <p>
                    学生時代に食と農の「現場」に触れ、 <br>
                    自ら考え行動してきた私たち。
                </p>
                <p>
                    「現場」を知るからこそ、自分の力でできることをしたい。 <br>
                    社会人となり全国各地、それぞれの道に進んだ私たちは、 <br>
                    「食と農の未来を自分たちの手でよくしたい」という <br>
                    志でつながっています。
                </p>
            </div>
        </div>
        <div class="about-concept-box">
            <div class="description content-inner-half">
                <h1 class="about-concept-title">
                    食農×多業種スキルで新たな価値を生み出す
                </h1>
                <h2 class="about-concept-subtitle">
                    多業種の視点を持ち寄り活かしていく
                </h2>
                <p>
                    志を胸に生産から流通、経営、金融、行政、法律、デザイン、 <br>
                    ITとあらゆる業種に自分のキャリアを進めた私たち。
                </p>
                <p>
                    GOBOは多業種のメンバーのそれぞれ考えや、 <br>
                    やりたいことを持ち寄ることを何より大切にしています。 <br>
                    多様なスキルを掛け算することで食と農に今までにない <br>
                    価値を生み出していきます。
                </p>
            </div>
            <div class="image content-inner-half">
                画像
            </div>
        </div>
    </section>

    <section class="section vision">
        <h1 class="section-title">
            <span class="section-title-inner">
                若い目で、次の芽を
            </span>
        </h1>
        <dl class="missions-box">
            <div class="mission-item third">
                <dt class="mission-item-color ugoki">
                    <span class="mission-item-title">
                        うごきの場
                    </span></dt>
                <dd class="mission-item-description">
                    個人や所属する組織では取り組みきれない、 <br>
                    「やりたい！」という想いに基づく活動に <br>
                    挑戦する機会を提供し、サポートしていきます。
                </dd>
            </div>
            <div class="mission-item third">
                <dt class="mission-item-color tsunagi">
                    <span class="mission-item-title">
                        つなぎの場
                    </span></dt>
                <dd class="mission-item-description">
                    食と農林漁業に関わる学生団体のOB・OGを <br>
                    中心とした、全国のネットワークを活かして、 <br>
                    交流を深めていきます。
                </dd>
            </div>
            <div class="mission-item third">
                <dt class="mission-item-color manabi">
                    <span class="mission-item-title">
                        まなびの場
                    </span></dt>
                <dd class="mission-item-description">
                    幅広い分野のワカモノを積極的に受け入れ、 <br>
                    様々な視点をかけ合わせ、 <br>
                    「農」を捉えることで相互に学び合っていきます。
                </dd>
            </div>
        </dl>
    </section>

    <section class="section member">
        <h1 class="section-title">
            <span class="section-title-inner">
                メンバー紹介
            </span>
        </h1>
        <section class="content">
            <dl class="members-box">
                <div class="member-item quarter">
                    <dt class="member-item-thumbnail">
                        <img src="" alt=""></dt>
                    <dd class="member-item-introduction">
                        <div class="member-item-label">
                            <span class="member-item-name">
                                阿部 成美
                            </span>
                            <span class="member-item-job">
                                広告代理店
                            </span>
                        </div>
                        <div class="member-item-detail">
                            <p>
                                広告代理店にてブランディング専門チームに所属
                                コミュニケーションデザイン/ストラテジックプラニング
                                2014年京大農学部卒業。
                                農業サークルでこべじカフェ創設者
                            </p>
                        </div>
                    </dd>
                </div>
                <div class="member-item quarter">
                    <dt class="member-item-thumbnail">
                        <img src="" alt=""></dt>
                    <dd class="member-item-introduction">
                        <div class="member-item-label">
                            <span class="member-item-name">
                                阿部 成美
                            </span>
                            <span class="member-item-job">
                                広告代理店
                            </span>
                        </div>
                        <div class="member-item-detail">
                            <p>
                                広告代理店にてブランディング専門チームに所属
                                コミュニケーションデザイン/ストラテジックプラニング
                                2014年京大農学部卒業。
                                農業サークルでこべじカフェ創設者
                            </p>
                        </div>
                    </dd>
                </div>
                <div class="member-item quarter">
                    <dt class="member-item-thumbnail">
                        <img src="" alt=""></dt>
                    <dd class="member-item-introduction">
                        <div class="member-item-label">
                            <span class="member-item-name">
                                阿部 成美
                            </span>
                            <span class="member-item-job">
                                広告代理店
                            </span>
                        </div>
                        <div class="member-item-detail">
                            <p>
                                広告代理店にてブランディング専門チームに所属
                                コミュニケーションデザイン/ストラテジックプラニング
                                2014年京大農学部卒業。
                                農業サークルでこべじカフェ創設者
                            </p>
                        </div>
                    </dd>
                </div>
                <div class="member-item quarter">
                    <dt class="member-item-thumbnail">
                        <img src="" alt=""></dt>
                    <dd class="member-item-introduction">
                        <div class="member-item-label">
                            <span class="member-item-name">
                                阿部 成美
                            </span>
                            <span class="member-item-job">
                                広告代理店
                            </span>
                        </div>
                        <div class="member-item-detail">
                            <p>
                                広告代理店にてブランディング専門チームに所属
                                コミュニケーションデザイン/ストラテジックプラニング
                                2014年京大農学部卒業。
                                農業サークルでこべじカフェ創設者
                            </p>
                        </div>
                    </dd>
                </div>
                <div class="member-item quarter">
                    <dt class="member-item-thumbnail">
                        <img src="" alt=""></dt>
                    <dd class="member-item-introduction">
                        <div class="member-item-label">
                            <span class="member-item-name">
                                阿部 成美
                            </span>
                            <span class="member-item-job">
                                広告代理店
                            </span>
                        </div>
                        <div class="member-item-detail">
                            <p>
                                広告代理店にてブランディング専門チームに所属
                                コミュニケーションデザイン/ストラテジックプラニング
                                2014年京大農学部卒業。
                                農業サークルでこべじカフェ創設者
                            </p>
                        </div>
                    </dd>
                </div>
            </dl>
        </section>
    </section>


</div>

<%- include layout/footer -%>
