<%- include layout/head -%>

<%- include layout/global_navigation -%>

<div class="activities gobo page">

    <h1 class="page-title">
        <span class="page-title-inner">
            活動コラム
        </span>
    </h1>

    <div class="sections-wrapper-container">
        <div class="sections-wrapper">
            <section class="section main col-sm-9">

                <div class="activities-box">

                    <div class="activities-item full">
                        <div class="thumbnail">
                            <img src="./img/syunpachi.png" alt="">
                        </div>
                        <div class="detail">
                            <h2>話題の八百屋ベンチャー『旬八』の社長に話を聞いてみた</h2>
                            <div class="meta">
                                アグリベンチャーセミナー
                            </div>
                            <time>2015/12/12</time>
                            <p>
                                ディスクリプションディスクリプションディスクリプションディスクプションディスクリプションディスクリプションディスクリプションデスクリプションディスクリプションディスクリプション
                            </p>
                        </div>
                    </div>


                    <div class="activities-item full">
                        <div class="thumbnail">
                            <img src="./img/syunpachi.png" alt="">
                        </div>
                        <div class="detail">
                            <h2>話題の八百屋ベンチャー『旬八』の社長に話を聞いてみた</h2>
                            <div class="meta">
                                アグリベンチャーセミナー
                            </div>
                            <time>2015/12/12</time>
                            <p>
                                ディスクリプションディスクリプションディスクリプションディスクプションディスクリプションディスクリプションディスクリプションデスクリプションディスクリプションディスクリプション
                            </p>
                        </div>
                    </div>

                    <div class="activities-item full">
                        <div class="thumbnail">
                            <img src="./img/syunpachi.png" alt="">
                        </div>
                        <div class="detail">
                            <h2>話題の八百屋ベンチャー『旬八』の社長に話を聞いてみた</h2>
                            <div class="meta">
                                アグリベンチャーセミナー
                            </div>
                            <time>2015/12/12</time>
                            <p>
                                ディスクリプションディスクリプションディスクリプションディスクプションディスクリプションディスクリプションディスクリプションデスクリプションディスクリプションディスクリプション
                            </p>
                        </div>
                    </div>

                </div>
            </section>

            <aside class="aside col-sm-3">
                <div class="recommendations-box aside-box">
                    <h1 class="title">
                        <span class="title-inner">
                            おすすめの記事
                        </span>
                    </h1>
                    <ul class="recommendations-menu">
                        <li class="recommendation-item">
                            <div class="recommendation-title">
                                竹林畑で、様々な分野の若手社会人と農業の未来のアイデアを生み出す
                            </div>
                        </li>
                        <li class="recommendation-item">
                            <div class="recommendation-title">
                                竹林畑で、様々な分野の若手社会人と農業の未来のアイデアを生み出す
                            </div>
                        </li>
                        <li class="recommendation-item">
                            <div class="recommendation-title">
                                竹林畑で、様々な分野の若手社会人と農業の未来のアイデアを生み出す
                            </div>
                        </li>
                        <li class="recommendation-item">
                            <div class="recommendation-title">
                                竹林畑で、様々な分野の若手社会人と農業の未来のアイデアを生み出す
                            </div>
                        </li>
                        <li class="recommendation-item">
                            <div class="recommendation-title">
                                竹林畑で、様々な分野の若手社会人と農業の未来のアイデアを生み出す
                            </div>
                        </li>
                        <li class="recommendation-item">
                            <div class="recommendation-title">
                                竹林畑で、様々な分野の若手社会人と農業の未来のアイデアを生み出す
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="categories-box aside-box">
                    <h1 class="title">
                        <span class="title-inner">
                            カテゴリー
                        </span>
                    </h1>
                    <ul class="categories-menu">
                        <li class="category-item">
                            <a href="#">竹林アイデアソン</a></li>
                        <li class="category-item">
                            <a href="#">アグリベンチャーセミナー</a></li>
                        <li class="category-item">
                            <a href="#">竹林アイデアソン</a></li>
                    </ul>
                </div>
            </aside>

        </div>
    </div>

</div>

<%- include layout/footer -%>
