<%- include layout/head -%>

<%- include layout/global_navigation -%>

<div class="top gobo page">

    <section class="section about">

        <div class="content">

            <h1 class="title">
                <span class="title-inner">
                    GOBO とは?
                </span>
            </h1>

            <div class="col-sm-6">
                <p>
                    <strong>食と農林漁業に関わる</strong>全国の学生団体のOB・OG
                    によってつくられた<strong>若手社会人ネットワーク</strong>です。
                </p>
                <p>
                    生産からマーケティング、金融、行政、IT、法律、デザインなど、
                    <storng></storng>
                </p>
                <p>
                    尊敬し合える仲間と、ひとりではできないことに挑戦し、
                    企業や地域を超えて<strong>「やりたい」の種を育てる場。</strong>
                    それがGOBOです。
                </p>
                <p>
                    学生時代に始まった繋がりを次なるステージへ。
                    GOBOは食と農林漁業界に
                    新しい風を吹きこんでいきます。
                </p>

                <a href="#" class="btn more half">もっと読む</a>

            </div>

            <div class="col-sm-6">

            </div>
        </div>
    </section>

    <section class="section bordered activities">

        <h1 class="title">
            <span class="title-inner">
                活動コラム
            </span>
        </h1>

        <div class="activities-box">

            <div class="activities-item full">
                <div class="thumbnail">
                    <img src="./img/syunpachi.png" alt="">
                </div>
                <div class="detail">
                    <h2>話題の八百屋ベンチャー『旬八』の社長に話を聞いてみた</h2>
                    <div class="meta">
                        アグリベンチャーセミナー
                    </div>
                    <time>2015/12/12</time>
                    <p>
                        ディスクリプションディスクリプションディスクリプションディスクプションディスクリプションディスクリプションディスクリプションデスクリプションディスクリプションディスクリプション
                    </p>
                </div>
            </div>

            <div class="activities-item third">
                <div class="thumbnail">
                    <img src="./img/syunpachi.png" alt="">
                </div>
                <div class="detail">
                    <h2>話題の八百屋ベンチャー『旬八』の社長に話を聞いてみた</h2>
                    <time>2015/12/12</time>
                    <p>
                        ディスクリプションディスクリプションディスクリプションディスクリプションディスクリプションディスクリプションディスクリプョン
                    </p>
                </div>
            </div>

            <div class="activities-item third">
                <div class="thumbnail">
                    <img src="./img/syunpachi.png" alt="">
                </div>
                <div class="detail">
                    <h2>話題の八百屋ベンチャー『旬八』の社長に話を聞いてみた</h2>
                    <time>2015/12/12</time>
                    <p>
                        ディスクリプションディスクリプションディスクリプションディスクリプションディスクリプションディスクリプションディスクリプョン
                    </p>
                </div>
            </div>

            <div class="activities-item third">
                <div class="thumbnail">
                    <img src="./img/syunpachi.png" alt="">
                </div>
                <div class="detail">
                    <h2>話題の八百屋ベンチャー『旬八』の社長に話を聞いてみた</h2>
                        <time>2015/12/12</time>
                        <p>
                            ディスクリプションディスクリプションディスクリプションディスクリプションディスクリプションディスクリプションディスクリプョン
                        </p>
                </div>
            </div>


        </div>

        <a href="#" class="btn more">もっと読む</a>

    </section>

    <section class="section bordered events">

        <h1 class="title">
            <span class="title-inner">
                イベント情報
            </span>
        </h1>

        <div class="events-box">

            <div class="events-item full">
                <div class="thumbnail">
                    <img src="./img/syunpachi.png" alt="">
                </div>
                <div class="detail">
                    <h2>激務女子の簡単ヘルシーレシピを開発</h2>
                    <div class="meta">
                        アグリベンチャーセミナー
                    </div>
                    <time>2015/12/12</time>
                        <p>
                        ディスクリプションディスクリプションディスクリプションディスクプションディスクリプションディスクリプションディスクリプションデスクリプションディスクリプションディスクリプション
                    </p>
                </div>
            </div>

            <div class="events-item third">
                <div class="thumbnail">
                    <img src="./img/syunpachi.png" alt="">
                </div>
                <div class="detail">
                    <h2>話題の八百屋ベンチャー『旬八』の社長に話を聞いてみた</h2>
                    <time>2015/12/12</time>
                    <p>
                        ディスクリプションディスクリプションディスクリプションディスクリプションディスクリプションディスクリプションディスクリプョン
                    </p>
                </div>
            </div>

        </div>

        <a href="#" class="btn more">もっと読む</a>

    </section>

    <section class="section bordered declarations">

        <h1 class="title">
            <span class="title-inner">
                やりたい宣言
            </span>
        </h1>


        <div class="declarations-box">

            <div class="declarations-item half">
                <div class="thumbnail">
                    <img src="./img/syunpachi.png" alt="">
                </div>
                <div class="detail">
                    <h2>激務女子の簡単ヘルシーレシピを開発したい！</h2>
                    <div class="meta">
                            アグリベンチャーセミナー
                    </div>
                    <time>2015/12/12</time>
                    <p>
                        ディスクリプションディスクリプションディスクリプションディスクプションディスクリプションディスクリプションディスクリプョン
                    </p>
                </div>
            </div>

            <div class="declarations-item half">
                <div class="thumbnail">
                    <img src="./img/syunpachi.png" alt="">
                </div>
                <div class="detail">
                    <h2>空が澄んだ山奥に星空を眺めに行きたい！</h2>
                    <time>2015/12/12</time>
                    <p>
                        ディスクリプションディスクリプションディスクリプションディスクリプションディスクリプションディスクリプションディスクリプョン
                    </p>
                </div>
            </div>

        </div>

        <a href="#" class="btn more">もっと読む</a>

    </section>

</div>


<%- include layout/footer -%>
