
<footer>
    <div class="footer-inner">

        <div class="footer-item half menu">
            <span class="gobo-brand">GOBO</span>

            <ul class="footer-navigation">
                <li class="item"><a href="#">GOBO とは</a></li>
                <li class="item"><a href="#">活動コラム</a></li>
                <li class="item"><a href="#">イベント情報</a></li>
                <li class="item"><a href="#">パートナー</a></li>
                <li class="item"><a href="#">お問い合わせ</a></li>
            </ul>
        </div>

        <div class="footer-item half sns">

        </div>

        <div class="footer-item full">
            <p class="copyright">
                ©食と農林漁業界に新しい風を吹き込む若手社会人ネットワーク GOBO
            </p>
        </div>

    </div>
</footer>

</body>
</html>
